<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My cloud drive">
<meta name="author" content="Ilmari Autio">

<title>CloudDrive</title>

<link href="/static/css/basscss.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<main>
</main>

<script src="/static/app-bundle.js"></script>
