<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My cloud drive">
<meta name="author" content="Ilmari Autio">

<title>CloudDrive</title>

<link href="/static/css/basscss.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<!-- BODY -->
<div class="container">

  <header class="header">
    <nav role="navigation">
      <ul class="nav nav-pills pull-right">
        <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
      </ul>
    </nav>
    <span class="logo"></span>
  </header>

  <main>
  </main>

</div>

<script src="/static/app-bundle.js"></script>
