<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My cloud drive">
<meta name="author" content="Ilmari Autio">

<title>CloudDrive</title>

<link href="/static/css/basscss.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<main>

  <h1>Cloud Drive</h1>

  <a href="/new">Add files</a>
  
  <section role="search">
    <input type="search">
    <button title="Search for tags or file names">Search</button>
  </section>

  <section id="file-view">
    <ul id="recent-files">
      <li>file name</li>
    </ul>
    <ul id="all-files">
      <%= for file <- @files do %>
        <li><%= file.name %></li>
      <% end %>
    </ul>
    <ul id="search-files" class="display-none">
    </ul>
    <template id="file-item-template">
      <li>file name</li>
    </template>
  </section>

</main>

<script src="/static/js/app.js" defer></script>
