<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My cloud drive">
<meta name="author" content="Ilmari Autio">

<title>CloudDrive</title>

<link href="/static/css/basscss.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<main class="flex flex-column items-center">

  <h1>Cloud Drive</h1>

  <a href="/new">Add files</a>
  
  <section id="file-search" role="search">
    <input type="search">
    <button title="Search for tags or file names">Search</button>
  </section>

  <section id="file-view" class="self-stretch">

    <ul id="recent-files">
      <li>file name</li>
    </ul>

    <table id="all-files" class="left-align">
      <thead>
        <tr>
          <th>Name
          <th>File size
          <th>Last modified
      <tbody>
        <%= for file <- @files do %>
          <tr>
            <td><%= file.name %>
            <td><%= CloudFile.size(file) %>
            <td><%= last_modified_time(file) %>
        <% end %>
    </table>

    <table id="search-files" class="display-none">
      <thead>
        <tr>
          <th>Name
          <th>File size
          <th>Last modified
      <tbody>
        <%= for file <- @files do %>
          <tr>
            <td><%= file.name %>
            <td><%= CloudFile.size(file) %>
            <td><%= last_modified_time(file) %>
        <% end %>
    </table>

    <template id="file-item-template">
      <tr>
        <td>file name
        <td>file size
        <td>last modified
    </template>
    
  </section>

</main>

<script src="/static/js/app.js" defer></script>
