body {
  font-family: sans-serif;
  margin: 0;
  font-size: 18px; /*1em = 18px*/
}

ul {
  padding-left: 0;
  list-style: none;
}

table {
  width: 100%;
}

td {
  padding-top: 1em;
}

#recent-files {
  margin-bottom: 3em;
}

.selected {
  background-color: #eee;
}

input[type='search'] {
  width: 35rem;
  height: 2.5rem;
  font-size: 1.4rem;
}
