<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="My cloud drive">
<meta name="author" content="Ilmari Autio">

<title>CloudDrive</title>

<!-- styles -->
<link href="/static/css/basscss.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">

<!-- scripts -->
<script src="/static/libs/fuse.min.js" defer></script>
<script src="/static/libs/axios.min.js" defer></script>
<script src="/static/js/app.js" defer></script>

<!-- body -->
<main class="flex flex-column items-center">

  <h1>Cloud Drive</h1>

  <%= nav %>

  <%= search-bar %>

  <!-- file view -->
  <div class="m3 self-stretch">
    <% recent_files = %{ id: "recent-files", title: "Recent files", files: Enum.take(@files, 4)} %>
    <% all_files = %{ id: "all-files", title: "All files", files: @files} %>
    <%= [recent_files, all_files] |> Enum.map(fn section -> %>
      <section id="<%= section.id %>">
      <h2><%= section.title %></h2>
      <table class="left-align">
        <thead>
          <tr>
            <th>Name
            <th>View Link
            <th>Download
            <th>File size
            <th>Last modified
        <tbody>
          <%= for file <- section.files do %>
            <tr id='<%= "recent-file-id-#{file.id}" %>'>
              <td>
                <div><%= Plug.HTML.html_escape_to_iodata(file.name) %></div>
                <div>
                  <%= for tag <- file.tags do %>
                    <span style="background-color: <%= tag.color %>"><%= Plug.HTML.html_escape_to_iodata(tag.name) %></span>
                  <% end %>
                </div>
              <td><a href="<%= file.view_url %>">Open</a>
              <td><a href="<%= file.download_url %>">Download</a>
              <td><%= compact_size(file.size) %>
              <td><%= last_modified_time(file) %>
          <% end %>
      </table>
    </section>
    <% end) %>
  </div>

</main>
